<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}-{{ page.title }}</title> 
  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css" type="text/css" />
  
</head>
