<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>


<script type="text/javascript">
    $("#baidu").click(function () {
        window.open("https://www.baidu.com/s?wd=" + $("#SearchInput").val());
    });
    $("#bing").click(function () {
        window.open("https://cn.bing.com/search?q=" + $("#SearchInput").val());
    });
    $("#google").click(function () {
        window.open("https://www.google.com/search?q=" + $("#SearchInput").val());
    });

    $("#btn-bookmark").click(function(){
        $("#div-bookmark").toggle();
    })
</script>