<blockquote>
    <p>一盏灯， 一片昏黄；一书签， 一杯淡茶。 守着那一份淡定， 品读属于自己的寂寞。 保持淡定， 才能欣赏到最美丽的风景！ 保持淡定， 人生从此不再寂寞。</p>
    <footer>我看到
        <cite title="Source Title">书摘</cite>
    </footer>
</blockquote>

<div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default" aria-label="Left Align" id="btn-bookmark">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
        </button>
    </div>
    <input type="text" class="form-control" placeholder="Search for..." id="SearchInput">
    <div class="input-group-btn">
        <button type="button" class="btn btn-danger" id="baidu">Baidu</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#" id="bing">Bing</a>
            </li>
            <li>
                <a href="#" id="google">Google</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#">Zhihu</a>
            </li>
        </ul>
    </div>
</div>

<br/>