---
layout: default
---

<div class="home">

  {{ content }}


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active left">
      <img src="/blog/assets/images/radhakrishna.jpg" data-holder-rendered="true">
    </div>
    <div class="item next left">
      <img src="/blog/assets/images/radhakrishna.jpg" data-holder-rendered="true">
    </div>
    <div class="item">
      <img src="/blog/assets/images/radhakrishna.jpg" data-holder-rendered="true">
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">最新</h3>
  </div>
  <div class="panel-body">
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>		
        <h3>
		  <span>
			<a href="{{ post.url | relative_url }}"> {{ post.title }}</a>
		  </span>
        
		  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		  <span class="post-meta">{{ post.date | date: date_format }}</span>		
		  
		  {%- if post.author -%}
		  	&nbsp;<span class="badge post-meta">作者: {{ post.author }}</span>
		  {%- endif -%}
		  
		  {%- if post.tags.size > 0 -%}
		  	<span class="post-meta"> 标签: {{ post.tags }}</span>
		  {%- endif -%}
        </h3>		
      </li>
      {%- endfor -%}
    </ul>	
  {%- endif -%}

	{% include post_pagination.html %}  
  </div>
</div>

  
</div>
